/* src/App.css */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #0d0d0d;
  padding: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.theme-icon {
  font-size: 24px;
  margin-left: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.theme-icon:hover {
  color: #ffa500;
}

.container {
  margin: 1rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  padding: 16px;
}

.on-btn,
.on-btn:hover {
  background-color: #87d068 !important;
  color: white;
}

.off-btn,
.off-btn:hover {
  background-color: #f50 !important;
  color: white;
}

.offline-btn,
.offline-btn:hover {
  background-color: #9E9E9E !important;
  color: white;
}

.svg-wrapper {
  width: 100px;
  height: 100px;
}

/* Add this CSS in a relevant CSS or styled-components file */
/* Existing CSS */
.fan-blades {

  background: url('public/assets/fan-blades.svg') no-repeat center/contain;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.speed-1 {
  animation: spin 1.6s linear infinite;
}

.speed-2 {
  animation: spin 1.3s linear infinite;
}

.speed-3 {
  animation: spin 1s linear infinite;
}

.speed-4 {
  animation: spin 0.8s linear infinite;
}

.speed-5 {
  animation: spin 0.6s linear infinite;
}

/* New class to stop animation */
.stopped {
  animation: none;
}

.fan-offline {
  width: 100px;
  height: 100px;
  background: url('public/assets/fan-offline.svg') no-repeat center/contain !important;
}