/* src/App.css */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #0d0d0d;
  padding: 0 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin-right: 16px;
  cursor: pointer;
}

.theme-icon {
  font-size: 24px;
  margin-left: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.theme-icon:hover {
  color: #ffa500;
}

.container{
 margin: 1rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}